In [2]:
import pandas as pd

In [31]:
a=pd.read_excel("C:/Users/user/Final Project/원데이터/doctor.xlsx", header =None)

In [32]:
a

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,지역별종별_의료인력현황_의사등(단위_명)_2023년3분기,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,인력코드상위,의사,의사,의사,의사,의사,치과의사,치과의사,치과의사,...,한의사,한의사,한의사,한의사,한의사,조산사,약사계,물리치료사,작업치료사,사회복지사
3,시도,요양기관종별,의사계,일반의,인턴,레지던트,전문의,치과의사계,치과일반의,치과인턴,...,한의사계,한의사일반의,한의사일반수련의,한의사전문수련의,한의사전문의,조산사,약사계,물리치료사,작업치료사,사회복지사
4,세종,소계,531,32,0,-,499,144,57,-,...,129,108,-,-,21,1,254,232,8,11
5,세종,종합병원,159,-,0,-,159,4,1,-,...,-,-,-,-,-,-,17,15,3,4
6,세종,병원,16,-,-,-,16,-,-,-,...,-,-,-,-,-,1,2,4,-,-
7,세종,요양병원,8,-,-,-,8,-,-,-,...,4,4,-,-,-,-,3,5,1,4
8,세종,정신병원,2,-,-,-,2,-,-,-,...,-,-,-,-,-,-,0,-,-,1
9,세종,의원,339,26,-,-,313,-,-,-,...,-,-,-,-,-,-,-,200,4,1
10,세종,치과병원,-,-,-,-,-,11,1,-,...,-,-,-,-,-,-,-,-,-,-
11,세종,치과의원,-,-,-,-,-,124,50,-,...,-,-,-,-,-,-,-,-,-,-
12,세종,보건소,2,2,-,-,-,2,2,-,...,2,2,-,-,-,-,-,1,-,-
13,세종,보건지소,4,3,-,-,1,3,3,-,...,4,4,-,-,-,-,-,-,-,-
14,세종,약국,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,231,-,-,-
15,세종,한방병원,1,1,-,-,0,-,-,-,...,14,11,-,-,3,-,1,7,-,1
16,세종,한의원,-,-,-,-,-,-,-,-,...,105,87,-,-,18,-,-,-,-,-

In [44]:
ad=a.iloc[5:,[1,2,7,12,18]]
ad.columns=['type','의사','치과의사','한의사','약사']
ad=ad.replace(to_replace={'-':'0'})
ad

    type   의사 치과의사  한의사   약사
5   종합병원  159    4    0   17
6     병원   16    0    0    2
7   요양병원    8    0    4    3
8   정신병원    2    0    0    0
9     의원  339    0    0    0
10  치과병원    0   11    0    0
11  치과의원    0  124    0    0
12   보건소    2    2    2    0
13  보건지소    4    3    4    0
14    약국    0    0    0  231
15  한방병원    1    0   14    1
16   한의원    0    0  105    0

In [56]:
ad.dtypes
ad = ad.astype({'의사':'int','치과의사':'int','한의사':'int' ,'약사':'int'})

In [57]:
ad.dtypes

type    object
의사       int32
치과의사     int32
한의사      int32
약사       int32
dtype: object

In [60]:
ad["총합"] = ad.iloc[:,1:].sum(axis=1)
ad

    type   의사  치과의사  한의사   약사   총합
5   종합병원  159     4    0   17  180
6     병원   16     0    0    2   18
7   요양병원    8     0    4    3   15
8   정신병원    2     0    0    0    2
9     의원  339     0    0    0  339
10  치과병원    0    11    0    0   11
11  치과의원    0   124    0    0  124
12   보건소    2     2    2    0    6
13  보건지소    4     3    4    0   11
14    약국    0     0    0  231  231
15  한방병원    1     0   14    1   16
16   한의원    0     0  105    0  105

In [23]:
df=a.iloc[4:,1:3]
df=df.rename(columns=df.iloc[0])
df.columns=['type','count']
df.insert(0, 'num', list(range(1, 14)))
df

    num  type count
4     1    소계   531
5     2  종합병원   159
6     3    병원    16
7     4  요양병원     8
8     5  정신병원     2
9     6    의원   339
10    7  치과병원     -
11    8  치과의원     -
12    9   보건소     2
13   10  보건지소     4
14   11    약국     -
15   12  한방병원     1
16   13   한의원     -

In [24]:
df.dtypes

num       int64
type     object
count    object
dtype: object

In [32]:
# 하이픈 0로 변경
df=df.replace(to_replace={'-':'0'})
df

    num  type count
4     1    소계   531
5     2  종합병원   159
6     3    병원    16
7     4  요양병원     8
8     5  정신병원     2
9     6    의원   339
10    7  치과병원     0
11    8  치과의원     0
12    9   보건소     2
13   10  보건지소     4
14   11    약국     0
15   12  한방병원     1
16   13   한의원     0

In [33]:
# count object에서 int 형태로 변환
df['count'] = df['count'].astype('int')
print(df.dtypes)

num       int64
type     object
count     int32
dtype: object

In [34]:
df.to_csv("C:/Users/user/Final Project/doctor.csv", index = False)