In [1]:
import pandas as pd

In [2]:
d=pd.read_excel("C:/Users/user/Final Project/원데이터/hospital_count.xlsx", header =None)

C:\Users\user\anaconda3\envs\ml\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
d

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,기관수현황_지역별종별요양기관수현황(단위_개소)_2023년3분기,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,시도,시군구,계,종합병원,병원,요양병원,정신병원,의원,치과병원,치과의원,보건소,보건지소,보건진료소,약국,한방병원,한의원
3,세종특별자치시,계,610,2,3,4,1,229,1,98,1,10,7,157,3,94
4,세종특별자치시,세종시,610,2,3,4,1,229,1,98,1,10,7,157,3,94

In [5]:
df=d.iloc[2:4,3:].T
df.columns=['type','n_count']   
df.insert(0, 'num', list(range(1, 14)))
df

    num   type n_count
3     1   종합병원       2
4     2     병원       3
5     3   요양병원       4
6     4   정신병원       1
7     5     의원     229
8     6   치과병원       1
9     7   치과의원      98
10    8    보건소       1
11    9   보건지소      10
12   10  보건진료소       7
13   11     약국     157
14   12   한방병원       3
15   13    한의원      94

In [6]:
df.dtypes

num         int64
type       object
n_count    object
dtype: object

In [7]:
# count object에서 int 형태로 변환
df['n_count'] = df['n_count'].astype('int')
print(df.dtypes)

num         int64
type       object
n_count     int32
dtype: object

In [8]:
df.to_csv("C:/Users/user/Final Project/csv/hospital_count.csv", index = False)